html,body{
    margin: 0;
    display:table;
    height:100%;
    width:100%;
    background-color:#ffffff;
}
.topnav {
    overflow: hidden;
    background-color:black;

}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Trebuchet MS';
}

.topnav a:hover {
    color: grey;
    transition: 0.7s;
}

.topnav .icon {
    display: inline-block;
}

